<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='角色权限预览'"></head>
<body>
<div class="wrapper wrapper-content animated fadeInRight white-bg">
    <form class="form-horizontal" id="signupForm">
        <div class="module-frame module-detail"
             style="width: 760px; height: 320px; overflow-y: auto; overflow-x: hidden;">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox ">
                        <div>
                            <div class="dd" id="nestableprog">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="module-button">
            <div class="col-sm-3 col-sm-offset-2">
                <button class="btn btn-primary btn-copy" type="button"> 复 制</button>
                <button class="btn btn-white btn-chooseClose" type="button"> 返 回</button>
            </div>
        </div>
    </form>
</div>
<script id="template-dd" type="x-tmpl-mustache">
    <li class="dd-item" data-id="{{id}}">
        <div class="dd-handle">
            <span class="label label-info"><i class="fa {{defaultIcon}}"></i></span>
            <input type="checkbox" name="chkRoleProg" onclick="checkall(this)" value="{{id}}" {{checked}} disabled/>
            <span class="dd-name">{{name}}</span>
            <span class="dd-mark">{{mark}}</span>
        </div>
    </li>

</script>
<div th:include="layout::footer"></div>
<script src="/static/scripts/plugins/mustache/mustache.min.js"></script>
<script src="/static/scripts/plugins/nestable/jquery.nestable.js"></script>
<!--<script src="~/Scripts/plugins/layer/extend/layer.ext.js"></script>-->

<script th:inline="javascript">
    var roleUserIds = ',' + [[${progids}]] + ',';
    var roleProgByUser = ',' + [[${userprogids}]] + ',';
    var roleID = [[${role.id}]];
</script>

<script src="/static/appjs/role/roleprogpreview.js"></script>
</body>
</html>